.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header {
  line-height: 30px;
  font-size: 25px;
  padding: 2px;
}

.modal-inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
